/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f6f6f6; /* fundo claro igual à arte */
    color: #222;         /* texto escuro suave */
    font-family: "Inter", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Card – retangular */
.card {
    width: 90%;
    max-width: 700px;
    background: #ffffff;
    border: 2px solid #ff66b3; /* rosa do IOT */
    padding: 30px;
    border-radius: 0px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    text-align: center;
}

/* Logo retangular */
.logo {
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, #ffffff, #ffffff); /* azul-marinho da beca */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    font-family: Consolas, monospace;
    font-weight: bold;
    font-size: 20px;
    color:black; /* dourado da beca */
}

/* Título */
h1 {
    font-size: 22px;
    color: #ff4fa6; /* pink do texto IOT */
}

/* Texto */
.intro {
    margin: 10px 0;
    color: #444; /* cinza escuro suave */
}

/* Bloco de código */
.code-block {
    background: #fff0f7; /* leve rosado */
    border: 1px solid #ff66b3;
    padding: 15px;
    border-radius: 0px;
    margin: 15px 0;
    font-family: Consolas, monospace;
    font-size: 14px;
    color: #222;
    white-space: pre-wrap;
}

/* Lista */
.tasks {
    margin-top: 15px;
    list-style: none;
    padding-left: 15px;
}

.tasks li {
    padding: 6px 0;
    font-family: Consolas, monospace;
}

.tasks li span {
    background: #ffe0ef; /* rosa claro */
    padding: 4px 8px;
    border-radius: 3px;
    color: #ff4fa6; /* pink */
}

/* Footer */
footer {
    margin-top: 20px;
    text-align: center;
    border-top: 2px solid #ff66b3;
    padding-top: 10px;
    color: #444;
}
